<p id="notice"><%= notice %></p>

<p>
  <strong>Temporada:</strong>
  <%= @temporada.tit_temp %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @temporada.ano %>
</p>

<%= link_to 'Edit', edit_temporada_path(@temporada) %> |
<%= link_to 'Back', temporadas_path %>
